<a href="https://colab.research.google.com/github/AllyHyeseongKim/PythonProgramming/blob/main/String/python_programming_example_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. Python 문자열 연습문제

## 2.1. 문자열 연산, 인덱싱, 슬라이싱, escape

아래와 같이, 학번과 이름이 붙어있는 학생 정보 리스트가 있을 때, 슬라이싱을 이용하여 각 학생의 학번과 이름을 튜플로 저장한 리스트를 출력하시오.

In [ ]:
students = ['20200000chungangkim', '20201111chunganglee', '20202222chungangpark']

실행 예)

    출력: [{'id':'20200000', 'name':'chungangkim'}, {'id':'20201111', 'name':'chunganglee'}, {'id':'20202222', 'name':'chungangpark'}]

## 2.2. 문자열 포맷팅

아래와 같이, 학번, 이름, 출석 여부의 튜플 리스트가 있을 때, 학번을 입력하고 학번에 해당하는 정보를 "학번: [학번] 이름: [이름] | 출석/ 결석/ 지각"과 같이 출력하시오.

    (0: 결석, 1: 출석, 2: 지각)

In [ ]:
lecture_1 = [{'id':'20200000', 'name':'김중앙', 'attendance':0}, {'id':'20201111', 'name':'이중앙', 'attendance':1}, {'id':'20202222', 'name':'박중앙', 'attendance':2}]

실행 예)

    입력:
        조회할 학번: 20180000
    출력:
        학번 오류
    입력:
        조회할 학번: 20200000
    출력:
        학번: 20200000 이름: 김중앙 | 출석

## 2.3. 문자열 정렬, 공백

아래와 같이, 연락처 튜플 리스트가 있을 때, 연락처를 예시와 같이 보기 좋게 출력하시오.

In [ ]:
contacts = [{'name':'김중앙', 'phone':'01000000000', 'birth':'000101', 'email':'chungangkim@cau.ac.kr'}, {'name':'이중앙', 'phone':'01011111111', 'birth':'990201', 'email':'chunganglee@cau.ac.kr'}]

실행 예)

    |✓name✓|✓✓✓✓phone✓✓✓✓|✓✓birth✓|✓✓✓✓✓✓✓✓✓email✓✓✓✓✓✓✓✓✓|
    |------|-------------|--------|-----------------------|
    |✓김중앙✓|✓01000000000✓|✓000101✓|✓chungangkim@cau.ac.kr✓|
    |✓이중앙✓|✓01011111111✓|✓990201✓|✓chunganglee@cau.ac.kr✓|

    (✓: 빈칸)

## 2.4. 문자열 소수점

사용자에게 [1, 10000] 구간 안에 존재하는 실수를 입력하고 합산하여 소숫점 이하 4자리까지 버림하여 출력하시오. (단, 0을 입력할 경우 연산 종료)

실행 예)

    입력: [1, 10000] 구간 안에 존재하는 실수를 입력하세요: 37
    출력: 37 = 37.0000

    입력: [1, 10000] 구간 안에 존재하는 실수를 입력하세요: 187.4
    출력: 37 + 187.4 = 224.4000

    입력: [1, 10000] 구간 안에 존재하는 실수를 입력하세요: 7652.97
    출력: 37 + 187.4 + 7652.97 = 7877.3700

    입력: [1, 10000] 구간 안에 존재하는 실수를 입력하세요: 0

## 2.5. 문자열 함수

### 2.5.1. 문자열 함수 1

문장을 입력하고 입력한 문장에서 공백을 이용해 단어들을 구분하고, 중복된 단어 없이 콤마(,)로 구분해 출력하시오.

실행 예)

    입력: Greif is the agony of an instant the indulgence of grief the blunder of a life
    출력: agony, of, instant, blunder, a, life, indulgence, grief, Greif, the, is, an

### 2.5.2. 문자열 함수 2

수식을 입력하고 입력한 수식의 계산한 결과를 출력하시오. (단, 덧셈, 뺄셈, 곱셈만 가능하고, 수식에 있는 연산자는 모두 같음) (단, 피연산자는 양의 정수)

실행 예)

    입력: 
        연산자: +
        수식: 12+345+6789
    출력: 12 + 345 + 6789 = 7146

    입력: 
        연산자: *
        수식: 12*345
    출력: 12 * 345 = 4140

    입력:
        연산자: -
        수식: 6789-345-12-135
    출력: 6789 - 345 - 12 - 135 = 6297

    입력:
        연산자: 0